.popmechanic-reset,
.popmechanic-reset * {
    line-height: normal;
    box-sizing: border-box;
}

#popmechanic-form {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 6px 0 #333;
    vertical-align: middle;
    width: 680px;

    .popmechanic-screen {
        padding: 97px 50px;
        text-align: center;
    }

    input {
        display: block;
        width: 300px;
        height: 50px;
        line-height: 48px;
        text-align: left;
        padding-left: 15px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #d1d1d1;
        margin: 20px auto;
    }

    button, a {
        margin: 20px auto;
        display: block;
        width: 148px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border: none;
        background: #ffed00;
        padding: 0;
        cursor: pointer;
        font-size: 18px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0 0 2px #ffff00;
        border-radius: 24px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    button:hover, a:hover {
        background: #ffcc00;
    }

    .popmechanic-header {
        font-size: 36px;
        font-weight: bold;
    }
    .popmechanic-text {
        font-size: 26px;
    }
    .popmechanic-thankyou {
        padding: 97px 50px;
        text-align: center;
    }
    .popmechanic-thankyou .popmechanic-text {
        font-size: 36px;
        font-weight: bold;
    }

    .popmechanic-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        text-decoration: underline;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    /* common logic */
    .popmechanic-screen {
        display: none;
    }
    .popmechanic-screen_active {
        display: block;
    }

    .popmechanic-thankyou {
        display: none;
    }

    input.popmechanic-invalid {
        border-color: #e84e4e;
    }
}

.popmechanic-success #popmechanic-form {
    .popmechanic-screen {
        display: none;
    }
    .popmechanic-thankyou {
        display: block;
    }
}
