<div class="popmechanic-reset" id="popmechanic-form">
    <div class="popmechanic-main">
        <div class="popmechanic-content">
            <div class="popmechanic-header">
                Очень вам рады!
            </div>
            <div class="popmechanic-text">
                Подписывайтесь и получайте подарки
            </div>
        </div>
        <div class="popmechanic-inputs">
            <div class="popmechanic-input">
                <input type="text" class="popmechanic-name" data-popmechanic-input="name" placeholder="Ваше имя">
            </div>
            <div class="popmechanic-input">
                <input type="email" class="popmechanic-email" data-popmechanic-input="email" placeholder="Электронная почта">
            </div>
            <button type="button" name="button" data-popmechanic-submit>Получить</button>
        </div>
    </div>
    <div class="popmechanic-thankyou">
        <div class="popmechanic-text">
            Спасибо за подписку!
        </div>
    </div>
    <div class="popmechanic-close" data-popmechanic-close>&times;</div>
</div>
